<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="styles.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<title>Insert title here</title>
</head>
<body>
	<!-- Side navigation -->
	<div class="sidenav">
		<a href="#">Página Principal</a> <a href="#">Mi Perfil</a> <a href="#">Mis
			Citas</a>
	</div>

	<!-- Page content -->

	<!-- Barra de navegación superior -->
	<div class="main">
		<nav class="navbar">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="LogIn.html">EduShare</a>
				</div>
				<ul class="nav navbar-nav">
					<li class="active"><a href="#">Página Principal</a></li>
					<li><a href="#">Materias</a></li>
				</ul>
			</div>
		</nav>
		<div class="container">
			<h3>Perfil del monitor</h3>
			<hr>
			<div class="container">
				<div class="row">
					<div class="col-sm-3">
						<img
							src="https://images.pexels.com/photos/545062/pexels-photo-545062.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
							class="img-circle" width="200px" height="200px">
					</div>
					<div class="col-sm-9">
						<table class="table">
							<tbody>
								<tr>
									<td>Nombre:</td>
									<td id="name-text"></td>
								</tr>
								<tr>
									<td>E-mail:</td>
									<td id="email-text"></td>
								</tr>
								<tr>
									<td>Materias:</td>
									<td>
										<ul class="list-group">
											<li class="list-group-item">First item</li>
											<li class="list-group-item">Second item</li>
											<li class="list-group-item">Third item</li>
										</ul>
									</td>
								</tr>
								<tr>
									<td>Calificación general:</td>
									<td>4.56</td>
								</tr>
								<tr>
									<td> <button type="button" class="btn btn-primary">Ver horarios</button>
									<button type="button" class="btn btn-primary">Apple</button></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<script type="text/javascript">
		$(document).ready( function(){
			$.ajax({
				url: "https://cors-anywhere.herokuapp.com/https://edushare.pythonanywhere.com/admin/edushareApp/estudiante/",
				type: 'GET',
				success: function(data){
					console.log(data);
				},
				failure: function(error){
					console.log("Error: " + error)
				}
			})
		});
	</script>
</html>