<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="styles.css">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>
{% load static %}
<link rel="stylesheet" href={% static 'LoginStyle.css' %}>
<body>
	<!-- Side navigation -->
	<div class="sidenav">
		<a href="/">Página Principal</a> <a href="/">Mi Perfil</a> <a href="/reserva">Mis
			Citas</a>
	</div>

	<!-- Page content -->

	<!-- Barra de navegación superior -->
	<div class="main">
		<nav class="navbar">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">EduShare</a>
				</div>
				<ul class="nav navbar-nav">
					<li class="active"><a href="/">Página Principal</a></li>
					<li><a href="/">Materias</a></li>
				</ul>
			</div>
		</nav>
		<div class="container">
			<h3>Reservar cita</h3>

			<b>Nombre:</b> Monitor 1

			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-6">
						<table class="table table-striped">
							<thead>
								<tr>
									<th>Fecha</th>
									<th>Hora</th>
									<th>Estado</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>12/10/2018</td>
									<td>12:00 m</td>
									<td><button type="button" class="btn btn-success" onclick="alert('Monitoría reservada')">Disponible</button></td>
								</tr>
								<tr>
									<td>12/10/2018</td>
									<td>01:00 pm</td>
									<td><button type="button" class="btn btn-success" onclick="alert('Monitoría reservada')">Disponible</button></td>
								</tr>
								<tr>
									<td>12/10/2018</td>
									<td>2:00 pm</td>
									<td><button type="button" class="btn disabled">Ocupado</button></td>
								</tr>
								<tr>
									<td>12/10/2018</td>
									<td>3:00 pm</td>
									<td><button type="button" class="btn btn-success" onclick="alert('Monitoría reservada')">Disponible</button></td>
                                    <script></script>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript">
	$(document).ready( function(){
			$.ajax({
				url: "https://cors-anywhere.herokuapp.com/https://edushare.pythonanywhere.com/admin/edushareApp/horar/",
				type: 'GET',
				success: function(data){
					console.log(data);
				},
				failure: function(error){
					console.log("Error: " + error)
				}
			})
		});
		</script>
</html>